/* Шапка */
.header {
  background: white;
  border-left: 6px solid #6E1C26;
  padding-left: 20px;
  padding: 15px 30px;
  color: #6E1C26; /* бордовый текст */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15); /* тень под шапкой */
}

/* Текст внутри шапки */
.header-container h1,
.header-container .roles {
  color: #6E1C26; /* оставляем бордовый цвет текста */
  margin: 0;
}


.header-container h1,
.header-container .roles {
  color: #6E1C26;
  margin: 0;
}

/* Контейнер колонок */
.container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  gap: 20px;
}

/* Левая колонка */
.sidebar {
  flex: 0 0 38%;
  margin: 0;
  padding: 20px;
  background: #ffffff;
  border-radius: 14px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-left: 6px solid #6E1C26;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin-bottom: 25px;
}

/* Контакты */
.contacts {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.contacts li {
  margin-bottom: 8px;
}

.contacts a {
  color: #0073e6;
  text-decoration: none;
}

.contacts a:hover {
  text-decoration: underline;
}

/* Блоки о себе, книги, курсы, обучение */
.about-me-section p,
.books-section ul,
.courses-section ul,
.learning-section ul,
.soft-skills-section ul {
  font-size: 0.95em;
  line-height: 1.5;
}

.about-me-section h3 {
  margin-bottom: 10px;
}

/* Добавляем отступы перед блоками */
.about-me-section {
  margin-top: 40px; /* Увеличенный отступ перед «О себе» */
}

.books-section {
  margin-top: 40px; /* Увеличенный отступ перед «Прочитаны книги» */
}

/* HARD SKILLS кольца */
.skills-grid {
    padding-top: 30px; /* пространство перед кругами */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 120px;
  gap: 15px;
  justify-items: center;
  margin-bottom: 20px;
}

.skill-circle {
  position: relative;
  width: 100px;
  height: 100px;
}

.skill-circle svg circle {
  transition: all 0.3s ease;
}

.skill-circle.centered {
  grid-column: 1 / span 2; /* занимает обе колонки */
}

.skill-text-inside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.85em;
  font-weight: bold;
  color: #000; /* чёрный текст */
  width: 90px;
}

/* Правая колонка */
.main-content {
  flex: 0 0 56%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Задания */
.project {
  display: flex;
  background: #ffffff;
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
  border-left: 5px solid #6E1C26;
}

.project-left {
  flex: 0 0 70%;
}

.project-right {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center
}